.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-001_facebook_h {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-002_facebook_hh {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-003_facebook_a {
    width: 32px;
    height: 32px;
    background-position: -5px -89px;
}

.sprite-004_facebook_hf {
    width: 32px;
    height: 32px;
    background-position: -5px -131px;
}

.sprite-005_facebook_f {
    width: 32px;
    height: 32px;
    background-position: -5px -173px;
}

.sprite-006_vk_h {
    width: 32px;
    height: 32px;
    background-position: -5px -215px;
}

.sprite-007_vk_hh {
    width: 32px;
    height: 32px;
    background-position: -5px -257px;
}

.sprite-008_vk_a {
    width: 32px;
    height: 32px;
    background-position: -5px -299px;
}

.sprite-009_vk_fh {
    width: 32px;
    height: 32px;
    background-position: -5px -341px;
}

.sprite-010_vk_f {
    width: 32px;
    height: 32px;
    background-position: -5px -383px;
}

.sprite-011_github_h {
    width: 32px;
    height: 32px;
    background-position: -5px -425px;
}

.sprite-012_github_hh {
    width: 32px;
    height: 32px;
    background-position: -5px -467px;
}

.sprite-013_github_a {
    width: 32px;
    height: 32px;
    background-position: -5px -509px;
}

.sprite-014_github_hf {
    width: 32px;
    height: 32px;
    background-position: -5px -551px;
}

.sprite-015_github_f {
    width: 32px;
    height: 32px;
    background-position: -5px -593px;
}

.sprite-016_gmail {
    width: 32px;
    height: 26px;
    background-position: -5px -635px;
}

.sprite-016_gmail_s {
    width: 20px;
    height: 16px;
    background-position: -5px -671px;
}

.sprite-017_skype {
    width: 32px;
    height: 32px;
    background-position: -5px -697px;
}

.sprite-017_skype_s {
    width: 20px;
    height: 20px;
    background-position: -5px -739px;
}

.sprite-018_viber_watsapp {
    width: 32px;
    height: 32px;
    background-position: -5px -769px;
}

.sprite-018_viber_watsapp_s {
    width: 20px;
    height: 20px;
    background-position: -5px -811px;
}

.sprite-019_uiux {
    width: 64px;
    height: 68px;
    background-position: -5px -841px;
}

.sprite-020_html5 {
    width: 56px;
    height: 72px;
    background-position: -5px -919px;
}

.sprite-021_css3 {
    width: 51px;
    height: 72px;
    background-position: -5px -1001px;
}

.sprite-022_wp {
    width: 63px;
    height: 63px;
    background-position: -5px -1083px;
}

.sprite-023_js {
    width: 51px;
    height: 72px;
    background-position: -5px -1156px;
}

.sprite-024_github {
    width: 56px;
    height: 72px;
    background-position: -5px -1238px;
}

.sprite-025_photoshop {
    width: 42px;
    height: 48px;
    background-position: -5px -1320px;
}

.sprite-026_lang {
    width: 64px;
    height: 43px;
    background-position: -5px -1378px;
}
